<%- include("partials/header") -%>


<form class="" action="/" method="post">
  <input type="text" name="newPost" value="">
  <button type="button" name="button">Submit</button>

</form>

<%- include("partials/footer") -%>
