


 <%- include("partials/header")%>
<h1>Home</h1>


<%for( let i =0; i<blogPost.length && i<bodyContent.length; i++){%>
  <p><h1><%= blogPost[i] %></h1></p>
  <p><%= bodyContent[i] %></p>
<%}%>




<%-include("partials/footer")%>
